<section class="col-md-10 col-no-padding background-main-display">
  <h4 class="my-products-header">
    Mis productos:
  </h4>
  <hr>
  <table class="table table-hover table-bordered my-products-table">
    <thead>
      <tr>
        <th>Título del producto</th>
        <th>Proveedor</th>
        <th>Valoración actual</th>
        <th>Tamaño</th>
        <th>Extensión</th>
        <th>Fecha de compra</th>
      </tr>
    </thead>
    <tbody>

      <tr product-row *ngFor="let p of productos; let i = index" [attr.data-index]="i" [p]="p" (click)="openProduct(p.producto._id)" class="table-row">
      </tr>
    </tbody>
  </table>
  <hr>
</section>