<top-bar class="col-md-12 col-no-padding">Loading...</top-bar>
<main class="col-md-12 col-no-padding">
  <left-bar class="col-md-2 col-no-padding"></left-bar>
  <router-outlet></router-outlet>
  <!--<main-display class="col-md-10 col-no-padding"></main-display>-->
</main>
