/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "unitcomp";
    vertical-align: baseline;
}

.col-no-padding{
    padding: 0 !important;
}

.select-units{
    width: 100%;
}
