<header class="navbar navbar-default navbar-static-top no-margin-bot height-top-bar">
  <div class="container-fluid" style="height:  inherit;">
    <div class="navbar-header col-md-10 background-top-bar" style="height:  inherit;">
      <!--span class="pamba-icon col-md-1"></span-->
      <img class="col-md-1 pamba-icon-img" src="https://cdn0.iconfinder.com/data/icons/creative-nerds-wooden-icons/128/p.png">
      <a href="/" class="pamba-title col-md-2">{{title}}</a>
      <div class="pamba-buscador col-md-offset-1 col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse col-md-2 botones-registro">
      <ul class="nav navbar-nav">
        <li>
          <button class="btn btn-primary btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
          Log In / Register
      </button>
          <button class="btn btn-primary btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
          Log Out
      </button>
        </li>
      </ul>
    </div>
  </div>
</header>