
.details-list{
    list-style-type: none;
}
.details-element{
    margin: 5%;
    display: inline
}

.descripcion{
    /*border: 1px;*/
    min-height: 186px;
    background-color: #F2F2F2;
    border-color: black;
    border-radius: 25px;
    border: 1px;
    border-style: solid;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: 1%;*/
}

.descripcion-content{
    margin-left: 10px;
}

.back-button{
    color: #fff !important;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold !important;
    border-radius: 4px;
    background-color: #56aa29;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 0px;
    width: 45%;
    margin-top: 12%;
}

.demo-button{
    padding: 1em;
    color: #fff !important;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold !important;
    border-radius: 4px;
    background-color: #56aa29;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 0px;
    width: 45%;
    /*margin-top: 7%;*/
}

.purchase-button{
    padding: 1em;
    color: #fff !important;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold !important;
    border-radius: 4px;
    background-color: #3476d9;
    line-height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 0px;
    width: 45%;
    /*margin-top: 7%;*/
}

.review-header{
    margin-top: 1%;
}