<div class="col-md-10 col-no-padding">
  <div class="col-md-12">
    <div id="producto_Name" class="col-md-6">
      <h2 class="col-md-12">Nombre: <span class="">{{producto.title}}</span> </h2>
    </div>
    <div id="producto_Price" class="col-md-5">
      <h2 class="col-md-12">Precio:<span class="">{{producto.price}}€</span> </h2>
    </div>

    <div class="remove-btn header-btn pull-right">
      <a href="#" title="Close this bar" class="fa fa-fw fa-times"></a>
      <!--!!!!!!!!!!!!!!-->
    </div>
    <!--<div class=" col-md-1 col-no-padding">
      <button class="back-button" (click)="close()">
      <h4>Volver</h4>
      </button>
    </div>-->
  </div>
  <img id="producto_img" src='{{producto.img}}' class="col-md-6" style="max-height: 470px;"> <!--style="border-style: solid; border-width: 1px; margin-left:2%"-->
  <div id="producto_details" class="col-md-6">
    <h3>Detalles:</h3>
    <ul class="details-list">
      <li class="details-element">
        <h4>Proveedor: <span>{{producto.provider}}</span></h4>
      </li>
      <li class="details-element">
        <h4>
          Tamaño: <span>{{producto.size}} MB</span>
        </h4>

      </li>
      <li class="details-element">
        <h4>
          Formato: <span>{{producto.extension}}</span>
        </h4>
      </li>
      <li class="details-element">
        <h4>
          Descargas: <span>{{producto.downloads}}</span>
        </h4>
      </li>

      <li class="details-element">
        <div class="col-sm-5" >
          <rating [(ngModel)]="producto.rating" [titles]="['one', 'two', 'three', 'four', 'five']">
          </rating>
        </div>
      </li>





      <!--div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Categorías de interés:</label>
        <div class="col-10">aaaa
          <input class="form-control" type="search"[(ngModel)]="categories" id="example-search-input">
        </div>
      </div-->
      <!--<li class="details-element">
        <h4>
          Score de afinidad con el usuario: <span>{{indiceAfinidad}} %</span>
        </h4>
      </li>-->
    </ul>

    <div class="details-element">
      <h4>
        Categorías de interés:
      </h4>
      <div class="col-10">
        <input disabled class="form-control" style="margin-right: 100px" type="search"[(ngModel)]="producto.strCategories" id="example-search-input">
      </div>
    </div>

    <h4 style="margin-top: 2%">
      Índice de afinidad con el usuario: <span>{{indiceAfinidad}} %</span>
    </h4>
  </div>
  <div class="col-md-12">
    <div class="descripcion">
          <h4 class="descripcion-content">Descripción:</h4>
          <p class="descripcion-content">///////Descripción example/////</p>
    </div>
  </div>
  <div class="col-md-12 col-no-padding">
    <div class="col-md-offset-3 col-md-3 col-no-padding">
      <button class="purchase-button" (click)="buyProduct()">
        <h4>Adquirir producto</h4>
      </button>
    </div>
    <div class="col-md-offset-1  col-md-3 col-no-padding">
      <button class="demo-button" (click)="close()">
      <h4>DEMO</h4>
      </button>
    </div>
  </div>
  <div class="col-md-12 col-no-padding review-header">
    <h4 class="">Reviews:
    </h4>
  </div>
</div>